<!DOCTYPE html>
<html>
<head>
<title>Sign In</title>
<link rel="stylesheet" href="/css/styles.css" />
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/signin.js"></script>
</head>

<body>

<header>
<h1>Sign In</h1>
<h2>{{ organization }} {{ event }}</h2>
<h3>{{ datetime }}</h3>
</header>

<section id="msgs"></section>

<form id="signin" action="/event" method="post">

<fieldset name="signin_ fields" class="center">
<legend>Sign In</legend>
<div class="fields center">
    <div class="field">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" required/>
    </div>
    <div class="field">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" required/>
    </div>
    <div class="field">
        <label></label>
        <input type="submit" value="Sign In" />
    </div>
</div>
</fieldset>

<input id="org" name="organization" type="hidden" value="{{ organization }}" />
<input id="event" name="event" type="hidden" value="{{ event }}" />
<input id="datetime" name="datetime" type="hidden" value="{{ datetime }}" />

<img src="/img/loading.gif" class="nodisplay"/>
<img src="/img/tick.png" class="nodisplay"/>
<img src="/img/cross.png" class="nodisplay"/>

</form>  

<div>
	<a id="download" target="_self" 
	href="/download?organization={{ organization }}&event={{ event }}&datetime={{ datetime }}">
	Download spreadsheet of current signins
	</a>
	<section id="downloadpassword">
	<div class="fields center">
		<form action="/download" method="post" id="login" class="field">
		  <label for="password">Password:</label>
		  <input id="password" name="password" type="password" />
		</form>
	</div>
	</section>
</div>

<section id="signinlog">
{% for user in users %}
<div class="signinlog_entry {% if forloop.first %}first{% endif %}"><span>{{ user.name }} ({{ user.email }}) has signed in.</span><img src="/img/tick.png" /></div>
{% endfor %}
</section>

</body>
<html>